.header {
  background-color: $white-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.15);
  &__container {
    height: 100px;
    justify-content: space-between;
  }
  &__search {
    height: 30px;
    border: none;
    background-color: $light-gray-color;
    padding: 10px;
    &:focus {
      outline: none;
    }
  }
}

.navbar {
  &__list {
    display: flex;
    justify-content: flex-end;
  }
  &__list-item {
    margin-right: 20px;
    a {
      color: $nav-item-color;
    }
  }
  &__list-count {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .navbar-cart {
    position: relative;
    &__icon {
      vertical-align: bottom;
      width: 23px;
    }
    &__count {
      position: absolute;
      right: -5px;
      top: -15px;
      font-family: iransans-bold;
      color: $red-color;
      color: $red-color;
      z-index: 99;
    }
  }
}
