{
  "parser": "babel-eslint",
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "no-console": "off",
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
