.cart {
  &__image {
    max-width: 60px;
  }
  &__button {
    border: none;
    background-color: $red-color;
    color: $white-color;
    padding: 10px 20px;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: scale(0.97);
    }
  }

  .cart-item {
    background-color: $white-color;
    border-radius: 8px;
    &__button {
      border: none;
      margin: 0 5px;
      width: 30px;
      height: 30px;
      border-radius: 8px;
      background-color: $white-color;
      color: $red-color;
      border: none;
      font-size: 25px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.plus {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: linear-gradient($red-color, $red-color),
    linear-gradient($red-color, $red-color), #fff;
  background-position: center;
  background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
  background-color: $light-red-color;
  border-radius: 8px;
  &:active {
    transform: scale(0.9);
  }
}
.minus {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: linear-gradient($red-color, $red-color),
    linear-gradient($light-red-color, $light-red-color), #fff;
  background-position: center;
  background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;
  background-color: $light-red-color;
  border-radius: 8px;
  &:active {
    transform: scale(0.9);
  }
}
