.product-detail {
  &__title {
    font-size: 25px;
  }
  &__price {
    font-size: 25px;
    text-decoration: line-through;
  }
  &__paidPrice {
    font-size: 30px;
    font-family: iransans-bold;
  }
  &__discount {
    background-color: $red-color;
    font-size: 25px;
    color: $white-color;
    padding: 0 10px;
    border-radius: 50px;
    margin-right: 25px;
  }
  &__button {
    border: none;
    padding: 20px 40px;
    background-color: $red-color;
    color: $white-color;
    border-radius: 8px;
    cursor: pointer;
    &:active {
      transform: scale(0.9);
    }
  }
}
