// general styles
@import "./generals/variables.scss";
@import "./generals/fonts.scss";
@import "./generals/utilities.scss";
@import "./generals/reset.scss";
@import "./generals/grid.scss";
@import "./generals/spacing.scss";
@import "./generals/borders.scss";
@import "./generals/alignment.scss";

// components styles
@import "./components/cart.scss";
@import "./components/modal.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/loading.scss";
@import "./components/pagination.scss";

// pages styles
@import "./containers/home.scss";
@import "./containers/productDetail.scss";
@import "./containers/cart.scss";

