// general styles
@import "./variables.scss";
@import "./fonts.scss";
@import "./grid.scss";
@import "./spacing.scss";
@import "./borders.scss";
@import "./alignment.scss";

// pages styles
@import "../components/header.scss";

* {
  direction: rtl;
  font-family: iransans-regular;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $body-color;
  font-family: iransans-regular;
}
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
