@font-face {
  font-family: iransans-light;
  src: url("../../assets/fonts/IRANSans\(FaNum\)_Light.ttf");
}

@font-face {
  font-family: iransans-ultraLight;
  src: url("../../assets/fonts/IRANSans\(FaNum\)_UltraLight.ttf");
}

@font-face {
  font-family: iransans-regular;
  src: url("../../assets/fonts/IRANSans\(FaNum\).ttf");
}

@font-face {
  font-family: iransans-medium;
  src: url("../../assets/fonts/IRANSans\(FaNum\)_Medium.ttf");
}

@font-face {
  font-family: iransans-bold;
  src: url("../../assets/fonts/IRANSans\(FaNum\)_Bold.ttf");
}

@font-face {
  font-family: iransans-black;
  src: url("../../assets/fonts/IRANSans\(FaNum\)_Black.ttf");
}
