// grid system
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

@for $width from 1 through $columns {
  .col-#{$width} {
    flex-basis: $width / $columns * 100%;
  }
}

// flex styles
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-auto {
  flex: auto;
}
