.ml-20 {
  margin-left: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.p-30 {
  padding: 30px;
}
