// gird column
$columns: 12;

// colors
$body-color: #f3f3f3;
$nav-item-color: #616161;
$white-color: #ffffff;
$light-gray-color: #f0f0f1;
$dark-gray-color: #424750;
$text-color: #535353;
$red-color: #fb3449;
